name: CI
on:
  push:
    branches:
      - '**'
    tags-ignore:
      - '**'
    paths:
      - 'bin/**'
      - 'tests/**'
      - '.github/workflows/*.yml'
  pull_request:
    paths:
      - 'bin/**'
      - 'tests/**'
      - '.github/workflows/*.yml'
jobs:
  test:
    strategy:
      matrix:
        os:
          - ubuntu-latest
          - macOS-latest
    uses: YOCKOW/SSTest/.github/workflows/reusable-SSTest.yml@v1.3
    with:
      os: ${{ matrix.os }}
      swift-version: 6.2.1
